awscli==1.27.134
h5py==3.8.0
lpips==0.1.4
matplotlib==3.7.1
numpy==1.24.3
omegaconf==2.3.0
opencv-python==4.7.0.72
pandas==2.0.1
Pillow==9.5.0
pypng==0.20220715.0
pysteps==1.7.4
pytorch-extension==0.2
pytorch-lightning==1.7.7
tensorboard==2.13.0
tensorboard-data-server==0.7.0
torch==1.12.1+cu116
torchaudio==0.12.1+cu116
torchdata==0.4.1
torchmetrics==0.11.4
torchtext==0.13.1
torchvision==0.13.1+cu116
transformers==4.29.1
wandb==0.15.4
